
h1{
    text-align: center;
}

h2{
    text-align: center;
}
.col-md-6{
    text-align-last: center;
}
.ng-binding.ng-scope {
    padding-top: 5px;
    padding-right: 10px;
}
.item{
    
    padding-top: 4px;
    width:max-content;

    height: 200px;
	float: left;
}

header{
    padding:10px;
    background: rgb(127, 238, 232);
}
body{
    background-color: rgb(255,250,250);
}